/* add css module styles here (optional) */

.react-pro-player-controls {
  position: 'absolute';
  bottom: 0;
  left: 0;
  background: 'red';
  width: '100%';
  padding: '10px';
}

.react-pro-player-wrapper {
  position: 'relative';
}
